{% extends "base.html" %}
{% block content %}
    <div class="container">
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    {% if user == post.author %}
                        <a class="mr-2" href="{% url "account-view" %}">{{ post.author.username }} </a>
                    {% else %}
                        <a class="mr-2" href="">{{ post.author.username }} </a>
                    {% endif %}
                    <small class="text-muted"></small>
                    <h2><a class="article-title" href="">{{ post.title }} </a> </h2>
                    <p class="article-content"> {{ post.content }} </p>
                </div>
            </div>
        </article>
    </div>
{% endblock %}