{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class = "content-section">
        <br>
            <div class = "media">
                <img alt = "account image"  class="rounded-circle account-img" src = "{{ user.profile.img.url }}">
                <div class="media-body">
                    <h2 class="account-heading">{{ user.username }}</h2>
                    <p class="text-secondary">{{ user.email }}</p>
                    <a class="btn btn-outline-info pr-2 pl-2" href="#"> Change Password </a>
                </div>
            </div>
            <!-- form to the current user to edit his account information -->
            <div class="container">
                <form method="post" action="" novalidate enctype="multipart/form-data">
                  <div class="form-group">
                    <legend class="border-bottom mb-4">Account Info</legend>
                      {{ user.email }}
                  </div>
                    <div class="form-group">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="remove image" name ="action1" class="btn btn-secondary">
                    </div>
                    <br>
                <br>
                </form>
            </div>
        </div>
    </div>
{% endblock %}